body {

    font-family: verdana, sans-serif;
    margin:0;
}

header {
    background-color: #FF9300;
    color: white;
    text-align: center;
    padding: 15px 5px 5px 5px;
    height:50px;
    font-size:18pt;
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
}